doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/html5-reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport',content='initial-scale=1.0, user-scalable=no')
    link(rel="stylesheet",href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
    script(src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js")
    script(src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js")
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css',rel='stylesheet')
    script(type='text/javascript',src='javascripts/browser.js')

block content
  #welcome()
        h1.clickable Trouver les boulangeries ouvertes aux alentours
        p.clickable En tenant compte des congés annuels et des jours de fermeture réglementaire en Île-de-France
        p.clickable (Cliquer sur le texte)
        img.clickable(src='http://cdn.leafletjs.com/leaflet-0.5/images/marker-icon.png')
        p Ou chercher une adresse
        form#addrform
            input#addr(type='text',name='addr',placeholder='Une adresse')
            button(type=button) Autour d'une adresse
        #foot
            a(href='http://github.com/wadouk/trouverdupain')
                img(src='images/github.jpg')
  #map
