doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/html5-reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport',content='initial-scale=1.0, user-scalable=no')
    link(rel="stylesheet",href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
    script(src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js")
    script(type='text/javascript',src='javascripts/index.js')

block content
  #welcome()
        h1.clickable Trouver les boulangeries ouvertes aux alentours
        p.clickable En tenant compte des congés annuels et des jours de fermetures réglementaires en Île-de-France
        p.clickable (Cliquer sur le texte)
        #foot
            a(href='http://github.com/wadouk/trouverdupain')
                img(src='images/github.jpg')
  #map