doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/html5-reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport',content='initial-scale=1.0, user-scalable=no')
  body
    block content