html
  height: 100%
  
body	
  height: 100%
  font: "Lucida Grande", Helvetica, Arial, sans-serif

#map
  height: 100%
#control
  display:none
#about
  display:none
  text-align: center
  height: 100%
  padding: 20px 50px
  background:url('../images/background.png') no-repeat 50% 50%

.clickable

  cursor:pointer

#foot
    position:absolute
    bottom:20px
    right:20px
