html
  height: 100%
  
body	
  height: 100%
  font: "Lucida Grande", Helvetica, Arial, sans-serif

#map
  height: 100%
  display:none

#welcome
  text-align: center
  height: 100%
  cursor:pointer
  padding: 20px 50px
  background:url('../images/background.png') no-repeat 50% 50%